        <div class="wrapper container-fluid bg-white">
            <div class="wrapper-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="display-bold-text">
                            Point Of Sales
                        </div>
                        <form action="" id="form-pos" ng-submit=""></form>
                        <div class="form-group">
                            <div class="input-group custom-icon left-icon search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-gray" id="search-icon"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control bg-gray" placeholder="Search" aria-label="Search" aria-describedby="search-icon" ng-model="$ctrl.query">
                                <!-- <p>{{$ctrl.query}}</p> -->
                            </div>
                        </div>
                        <!-- <div class="custom-tabs">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Semua</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="void-tab" data-toggle="tab" href="#void" role="tab" aria-controls="void" aria-selected="false">Kosong</a>
                                </li>
                            </ul>
                        </div> -->

                        <div class=" items-container row" >
                            <div class="col-md-3" ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                                <div class="item" ng-click="addItem(product)" >
                                    <div class="img-container" >
                                        <!-- <a href="#!/products/{{product.id}}" class="thumb"> -->
                                          <img ng-src="{{product.imageUrl}}" alt="{{product.name}}" class="" >
                                        <!-- </a> -->
                                    </div>
                                    <div class="normal-text">
                                        {{product.name}}
                                        <br>
                                        {{product.price}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="orders-container">
                            <div class="header">
                                <div class="header-text">
                                    <div class="normal-text">
                                        Daftar Pesanan
                                    </div>
                                    <div class="subheading-text color-mediumgray">
                                        Jumat, 4 Januari 2019 08:00 AM
                                    </div>
                                </div>
                                <button class="btn btn-sm" type="button" id="button-addon1" ng-click="clearCart()">
                                    <img src="img/icon/ic_trash.png" alt="Trash" class="img-responsive" style="width: 24px">
                                </button>
                                <!-- <a href="#" class="color-mediumgray"> -->
                                    <!-- <i class="far fa-trash-alt" id="delete-order"></i> -->

                                <!-- </a> -->
                            </div>
                            <!-- <div class="body empty-order d-none">
                                <div class="normal-text text-center">
                                    Belum ada pesanan
                                </div>
                            </div> -->
                            <div class="body" id="body-order" >
                                <div class="order-list" ng-repeat="item in cart">
                                    <div class="desc-item">
                                        <div class="normal-text">
                                            {{item.name}}
                                            
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <button class="btn bg-gray" type="button" id="button-addon1" ng-click="reduceItem(item)"><img src="img/icon/ic_minus.png" alt="Minus" class="img-responsive" style="width: 14px"></button>
                                                </div>
                                                <input type="number" min="0" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="{{item.qty}}" readonly>  
                                                <div class="input-group-append">
                                                    <button class="btn bg-gray" type="button" id="button-addon2" ng-click="addItem(item)"><img src="img/icon/ic_plus.png" alt="Plus" class="img-responsive" style="width: 14px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <div class="normal-bold-text">
                                            {{(getCost(item) | currency: "Rp. ")}}
                                        </div>
                                        <!-- <i class="fas fa-times remove-item color-lightgray"></i> -->
                                        &nbsp;
                                        <img src="img/icon/ic_plus.png" alt="Plus" class="img-responsive" style="width: 14px; transform: rotate(45deg); cursor: pointer;" ng-click="removeItem(item);">
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="flex content-space-between">
                                    <div class="normal-bold-text">Total</div>
                                    <div class="normal-bold-text">{{ getTotal() | currency: "Rp. " }}</div>
                                </div>
                                <button class="btn btn-block btn-tn-green bold" form="form-pos" type="submit" ng-click="showCart()">
                                    BAYAR
                                </button>
                            </div>
                        </div>
                        <div ng-show="isVisible">
                            <table class="table table-condensed" >
                                <tr>
                                    <!-- <td>No</td> -->
                                    <td>id</td>
                                    <td>qty</td>
                                    <td>price</td>
                                </tr>
                                <tr ng-repeat="item in cart | orderBy : 'pId'">
                                    <td>{{item.pId}}</td>
                                    <td>{{item.qty}}</td>
                                    <td>{{item.price * item.qty}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


    <!-- <script>
        $('#display-grid').on( "click", function() {
            var thisParent = $(this).parent();
            var thisSibling = thisParent.next('.tab-content');
            $('.list').removeClass('tn-green');
            var findList = thisSibling.find('.col-12');
            findList.removeClass('col-12 list').addClass('col-md-3')
            $(this).addClass('tn-green');
            console.log(this);
            console.log(findList);
            console.log("Click Grid");
        });
        $('#display-list').on( "click", function() {
            var thisParent = $(this).parent();
            var thisSibling = thisParent.next('.tab-content');
            $('.list').removeClass('tn-green');
            var findGrid = thisSibling.find('.col-md-3');
            findGrid.removeClass('col-md-3').addClass('col-12 list')
            $(this).addClass('tn-green');
            console.log(this);
            console.log(findGrid);
            console.log("List Da yey");
        });
        $('.remove-item').on( "click", function() {
            $(this).parent().parent().remove();
            console.log(this);
            console.log('Coba cik kena enggak');
        })
        $('#delete-order').on( "click", function() {
            var thisParent = $(this).parent().parent();
            var thisSibling = thisParent.next('.body');
            thisSibling.empty();
        })
    </script> -->
        <!-- <pre>{{$ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre> -->
