
            <div class="panel-header bg-white">
                <div class="header-left">
                    <i class="fas fa-bars color-mediumgray" id="sidebar-trigger"></i>
                    <img src="img/favicon.png" alt="Terranova" class="logo-header">
                    <div class="total-sales">
                        <div class="subheading-text">
                            Total Penjualan Hari ini
                        </div>
                        <div class="normal-bold-text">
                            Rp. 0
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <div class="desc-user">
                        <div class="subheading-text">
                            {{ $ctrl.name }}
                        </div>
                        <div class="normal-bold-text">
                            {{ $ctrl.role }}
                        </div>
                    </div>
                    <div class="switcher-store">
                        <div class="subheading-text d-inline">
                            {{ $ctrl.company }}
                        </div>
                        <i class="fas fa-chevron-down color-lightgray"></i>
                    </div>
                </div>
            </div>

            <div class="panel-sidebar bg-white" id="panel-sidebar">
                <ul>
                    <li class="active">
                        <a href="" >
                            <div class="ic_ ic_dashboard">&nbsp;</div>
                            <span class="text-sidebar">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" >
                            <div class="ic_ ic_point-of-sales">&nbsp;</div>
                            <span class="text-sidebar">Point of Sales</span>
                        </a>
                    </li>
                    <li>
                        <a href="" >
                            <div class="ic_ ic_item">&nbsp;</div>
                            <span class="text-sidebar">Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="" >
                            <div class="ic_ ic_transaction-history">&nbsp;</div>
                            <span class="text-sidebar">Riwayat Transaksi</span>
                        </a>
                    </li>
                    <li>
                        <a href="" >
                            <div class="ic_ ic_report-finance">&nbsp;</div>
                            <span class="text-sidebar">Laporan Keuangan</span>
                        </a>
                    </li>
                    <li>
                        <a href="" >
                            <div class="ic_ ic_setting">&nbsp;</div>
                            <span class="text-sidebar">Setting</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="" >
                            <div class="ic_ ic_log-out">&nbsp;</div>
                            <span class="text-sidebar">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-sidebar-overlay"></div>