
            <div class="panel-sidebar bg-white" id="panel-sidebar">
                <ul>
                    <li class="active">
                        <a href="../dashboard/index.php" >
                            <div class="ic_ ic_dashboard">&nbsp;</div>
                            <span class="text-sidebar">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="../point-of-sales/index.php" >
                            <div class="ic_ ic_point-of-sales">&nbsp;</div>
                            <span class="text-sidebar">Point of Sales</span>
                        </a>
                    </li>
                    <li>
                        <a href="../items/index.php" >
                            <div class="ic_ ic_item">&nbsp;</div>
                            <span class="text-sidebar">Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="../transaction-history/index.php" >
                            <div class="ic_ ic_transaction-history">&nbsp;</div>
                            <span class="text-sidebar">Riwayat Transaksi</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <div class="ic_ ic_report-finance">&nbsp;</div>
                            <span class="text-sidebar">Laporan Keuangan</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <div class="ic_ ic_setting">&nbsp;</div>
                            <span class="text-sidebar">Setting</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" >
                            <div class="ic_ ic_log-out">&nbsp;</div>
                            <span class="text-sidebar">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-sidebar-overlay"></div>