/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@font-face {
  font-family: Source Sans Pro;
  src: url("../font/SourceSansPro-Regular.ttf");
  /*src: url("../font/SourceSansPro-Black.ttf");*/
  /*src: url("../font/SourceSansPro-SemiBold.ttf");*/
  /*src: url("../font/SourceSansPro-Bold.ttf");*/
  /*src: url("../font/SourceSansPro-Light.ttf");*/
}
body {
  color: #000;
  font-family: "Source Sans Pro" sans-serif;
  /*overflow: hidden;*/
}

body, html {
  height: 100%;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

label { margin-bottom: 0; }

/* Index */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*margin-bottom: 4rem;*/
  background: #fff;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  /*bottom: 3rem;*/
  z-index: 10;
  color: #000;
  padding-top: 0;
  /*margin-top: -20px;*/
  padding-bottom: 50px;
  right: 10%;
  left: 10%;
  bottom: 0;
  top: 150px;
}
.carousel-caption.last-caption {
  z-index: 16;
}
.carousel-caption.last-caption .btn{
  bottom: 20px;
  position: absolute;
}

.oversize-img {
  width: 100vw;
  margin: 0 -14% 45px;
}
.carousel-caption img {}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh;
  background-color: #fff;
  color: #000;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}

/* Carousel indicator */
#myCarousel .carousel-indicators {
  bottom: 20px;
}
#myCarousel .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #B2B2B2;
}

#myCarousel .carousel-indicators li.active {
  background-color: #000;
}

.skip-illustration {
  position: absolute;
  top: 45px;
  right: 20px;
  font-weight: bold;
}
/* End Index */

/* Main Form Signin and Signup*/
.wrapper {
  min-height: 100vh;
}

.wrapper-form {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.wrapper-form.business-form { margin-top: 70px; }
.wrapper-form.business-type-form,.wrapper-form.success-verification { margin-top: 65px; }
.wrapper-form.store-information-form { margin-top: 20px; }
.logo-form {
  margin-top: -90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 70px;
  display: block;
}

.main-container-form {
  padding-top: 70px;
  min-height: calc(100% - 100px);
  /*margin-bottom: -100px;*/
  /*padding-bottom: 100px;*/
  position: relative;
  overflow: hidden;
}

.main-container-form.with-logo {
  padding-top: 110px;
}

.main-container-form .signup-title {
  margin-top: -40px;
  margin-bottom: 40px;
}
.main-container-form .progress {
  height: 6px;
  overflow: visible;
  margin-top: -35px;
  margin-bottom: 35px;
}

.main-container-form .progress .progress-label {
  position: absolute;
  right: 15px;
  margin-top: -15px;
  color: #000;
}
.footer-container {
  height: 100px;
  position: ;
  bottom: 0;
  /*left: 15px;*/
  /*right: 15px;*/
}
.footer-container .btn:not(:last-child) {
  margin-bottom: 15px;
}

.success-verification img {
  max-width: 225px;
  height: auto;
  margin-bottom: 10px;
}

.success-verification .main-container-form {
  padding-top: 50px;
}

/* Review Information */
.review-form label {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.review-form label + .form-control-plaintext {
  padding-top: 0;
}
/* End Review Information */

/* Header */
.panel-header {
  height: 68px;
  border-bottom: solid 1px #e7e7e7;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.panel-header .header-left {
  width: 408px;
  border-right: solid 1px #e7e7e7;
  padding: 10px 0 12px 37px;
  display: flex;
  align-items: center;
}

.panel-header .header-left .logo-header {
  height: 46px;
  width: auto;
  margin-left: 49px;
  margin-right: 62px;
}
.panel-header .header-left .fa-bars{
  font-size: 24px;

}

.panel-header .header-left .total-sales {
  display: inline-block;
  line-height: 20px;
}

.panel-header .header-right {
  display: flex;
  align-items: center;
  padding: 10px 50px 12px 38px;
  justify-content: space-between;
  flex-grow: 1;
}

.panel-header .header-right .desc-user {
  display: inline-block;
  line-height: 20px;
}
.panel-header .header-right .switcher-store div:first-child {
  margin-right: 5px;
}
/* End Header */
/* Sidebar */
.panel-sidebar {
  width: 106px;
  border-right: solid 2px #e7e7e7;
  position: fixed;
  top: 68px;
  bottom: 0;
  left: 0;
  z-index: 900;
  transition: 0.5s;
}

.panel-sidebar ul {
  list-style: none;
  padding: 0;
}

.panel-sidebar ul li,
.panel-sidebar ul li:hover,
.panel-sidebar ul li.active {
  border-width: 0 0 2px 0;
  border-style: solid;
}

.panel-sidebar ul li {
  display: block;
  margin-top: 25px;
  border-color: #fff;
  transition: 0.3s;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-sidebar ul li:first-child{
  margin-top: 10px;
}
.panel-sidebar ul li a{
  height: 48px;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #727272;
  transition: 0.3s;
  /*padding-left: 31px;*/
}

.panel-sidebar ul li:hover,
.panel-sidebar ul li.active {
  border-color: #2DC84D;
  /*background: rgba(45, 200, 77, 0.1);*/
  transition: 0.3s;
}

.panel-sidebar ul li.divider {
  border-color: #E7E7E7;
  margin-left: 0;
  margin-right: 0;
}

.panel-sidebar ul li a span.text-sidebar {
  /*display: none;*/
  transition: all 0.3s;
  position: absolute;
  left: -1000px;
}
.panel-sidebar.active ul li a span.text-sidebar {
  transition: 0.3s;
  /*display: block;*/
  /*color: #727272;*/
  left: 15px;
  font-size: 16px;
  margin-left: 65px;
  margin-top: -34px;
}
.panel-sidebar.active ul li:hover a span.text-sidebar,
.panel-sidebar.active ul li.active a span.text-sidebar {
  color: #2DC84D;
}
/* Icon Sidebar */
  .ic_ {
    background-color: #727272;
    transition: 0.3s;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    /*width: auto;*/
    height: 100%;
  }
  .panel-sidebar ul li:hover .ic_,
  .panel-sidebar ul li.active .ic_ {
    background-color: #2DC84D;
  }
  .panel-sidebar.active .ic_ {
    -webkit-mask-position: 15px 50%;
    mask-position: 15px 50%;
  }
    .ic_dashboard {
      -webkit-mask-image: url(../img/icon/ic_dashboard.svg);
      mask-image: url(../img/icon/ic_dashboard.svg);
    }
    .ic_item {
      -webkit-mask-image: url(../img/icon/ic_item.svg);
      mask-image: url(../img/icon/ic_item.svg);
    }
    .ic_point-of-sales {
      -webkit-mask-image: url(../img/icon/ic_point-of-sales.svg);
      mask-image: url(../img/icon/ic_point-of-sales.svg);
    }
    .ic_setting {
      -webkit-mask-image: url(../img/icon/ic_setting.svg);
      mask-image: url(../img/icon/ic_setting.svg);
    }
    .ic_transaction-history {
      -webkit-mask-image: url(../img/icon/ic_transaction-history.svg);
      mask-image: url(../img/icon/ic_transaction-history.svg);
    }
    .ic_report-finance {
      -webkit-mask-image: url(../img/icon/ic_report-finance.svg);
      mask-image: url(../img/icon/ic_report-finance.svg);
    }
    .ic_log-out {
      -webkit-mask-image: url(../img/icon/ic_log-out.svg);
      mask-image: url(../img/icon/ic_log-out.svg);
    }
/* End Icon Sidebar */
#sidebar-trigger {
  cursor: pointer;
}

.panel-sidebar-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: -100%;
  position: fixed;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.panel-sidebar.active + .panel-sidebar-overlay {
  left: 0;
}

.panel-sidebar.active {
  width: 300px;
}


/* End Sidebar */

/* Wrapper Body */
.wrapper-body {
  padding-top: 91px;
  padding-left: 141px;
  margin-left: -15px;
  margin-right: -15px;
  padding-right: 50px;
}

.card-row {
  display: flex;
  flex: 1;
}

.card.card-wrapper {
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  border-radius: 0;
}

.card-row .card.card-wrapper:first-child:not(:last-child){
  margin-right: 12px;
}
.card-row .card.card-wrapper:last-child:not(:first-child){
  margin-left: 12px;
}
.card-row .card.card-wrapper:not(:first-child):not(:last-child){
  margin-left: 12px;
  margin-right: 12px;
}

.transaction-card {
  height: 100px;
}

.transaction-trend {
  display: flex;
  align-items: center;
}
.transaction-trend img{
  /*vertical-align: top;*/
}

.trending-rate {
  /*line-height: 34px;*/
  margin: 0 5px;
}

.fg-1 {
  flex-grow: 1;
}

.amount-transaction {
  align-self: flex-end;
}



.member-divider {
  border-bottom: 1px solid #727272;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
/* End Wrapper Body */

/* Custom Nav Tabs*/
.custom-tabs a {
  font-size: 14px;
  color: #727272;
  border: none;
}
.custom-tabs .nav-tabs {
  border-bottom: 2px solid #E7E7E7;
}
.custom-tabs .nav-tabs .nav-link,
.custom-tabs .nav-tabs .nav-link:hover,
.custom-tabs .nav-tabs .nav-link.active {
  border-width: 0 0 2px 0;
  font-weight: 600;
}

.custom-tabs .nav-tabs .nav-link:hover,
.custom-tabs .nav-tabs .nav-link.active {
  color: #2DC84D;
  border-color: #2DC84D;
}

.custom-tabs .nav-tabs .nav-link.active {
  background: none;
  font-weight: bold;
}

/* End Custom Nav Tabs*/

/* Item Container */
  .items-display {
    text-align: right;
    margin: 10px 0;
    font-size: 24px;
  }
  .items-display .list {
    cursor: pointer;
  }
  .items-container {
  }

  .items-container div[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .items-container .col-md-3:nth-child(4n+1) {
    padding-left: 15px;
  }
  .items-container .col-md-3:nth-child(4n) {
    padding-right: 15px;
  }

  .items-container div[class^="col-"] .item {
    border: 1px solid #E7E7E7;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
  }
  .items-container div[class^="col-"] .item:hover {
    /*border-color: #2DC84D;*/
    box-shadow: 0px 0px 7px 0px rgba(45, 200, 77, 0.5);
  }
  .items-container div[class^="col-"] .item img {
    height: 125px;
    max-width: 100%;
    object-fit: contain;
  }
  .items-container div[class^="col-"] .item > .normal-text {
    text-overflow: ellipsis;
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .items-container div[class^="col-"].list {
    padding: 0 15px;
  }
  .items-container div[class^="col-"].list .item {
    display: flex;
    align-items: center;
    border-width: 0 0 1px 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .items-container div[class^="col-"].list .item .img-container{
    margin-right: 20px;
    border: 1px solid #E7E7E7;
  }
  .items-container div[class^="col-"].list .item img {
    width: 100px;
    height: auto;
    max-height: 100px;
  }
  .items-container div[class^="col-"].list.with-remove .item{
    cursor: default;
  }
  .items-container div[class^="col-"].list.with-remove .item:hover {
    box-shadow: unset;
  }
  .items-container div[class^="col-"].list.with-remove .item img {
    width: 65px;
    max-height: 65px;
  }
  .items-container div[class^="col-"].list .item-name {
    text-align: left;
    flex: 1;
  }
  .items-container div[class^="col-"].list.with-remove .item-remove {
    align-self: stretch;
    border-left: 1px solid #E7E7E7;
    color: #E73838;
    width: 50px;
    padding-top: 20px;
  }
  .items-container div[class^="col-"].list.with-remove .item-remove > * {
    cursor: pointer;
  }
/* End Item Container */
/* Order Container */
  .orders-container {
    border: 2px solid #E7E7E7;
    position: sticky;
    top: 82px;
  }
  .orders-container .header,
  .orders-container .body,
  .orders-container .footer {
    padding: 10px 10px;
  }
  .orders-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .orders-container .body {
    border: 2px solid #E7E7E7;
    border-width: 2px 0;
    height: 200px;
    overflow: auto;
  }
  .orders-container .body.empty-order {
    display: flex;
    align-items: center;
  } 
  .orders-container .body.empty-order > *{
    flex: 1;
  }
  .orders-container .body .order-list  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .orders-container .body .order-list input.form-control {
    max-width: 50px;
    text-align: center;
  }
  .orders-container .body .order-list .item-price {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  .orders-container .body .order-list .item-price .remove-item {
    margin-left: 10px;
    cursor: pointer;
  }
  .orders-container .footer .btn {
    margin: 10px 0;
  }
/* End Order Container */
/* Payment Section */
  .back-arrow {
    position: absolute;
    left: -10px;
  }
  .total-payment {
    margin: 10px 0 20px;
  }
  .total-payment .disc-container {
    display: flex;
    justify-content: space-between;
  }
  .total-payment .disc-container span:first-child {
    margin-right: 10px;
  }
  .payment-method-container {
    border-style: solid;
    border-color: #727272;
    border-width: 1px 0;
    padding: 10px 0 15px;
  }
  .payment-nominal-container {
    padding: 10px 0 15px;
  }
  .payment-nominal-container .fix-nominal {
    display: flex;
    margin: 20px 0;
  }
  .payment-nominal-container .fix-nominal .custom-nominal {
    cursor: pointer;
    margin: 0 10px;
  }
  .payment-nominal-container .fix-nominal .custom-nominal:first-child {
    margin-left: 0;
  }
  .payment-nominal-container .fix-nominal .custom-nominal:last-child {
    margin-right: 0;
  }
  .payment-nominal-container .fix-nominal .custom-nominal > input {
    visibility: hidden;
    position: absolute;
  }
  .payment-nominal-container .fix-nominal .custom-nominal > input + div {
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #727272;
    border-radius: 3px;
    padding: 13px;
  }
  .payment-nominal-container .fix-nominal .custom-nominal > input:checked + div {
    border-color: #2DC84D;
    color: #2DC84D;
  }
  .payment-method-detail-container > div {
    border: 2px solid #E7E7E7;
    border-radius: 3px;
  }
  .payment-method-detail-container > div > div {
    padding: 0 15px;
  }
  .payment-method-detail-container > div > div.head-detail {
    border-bottom: 2px solid #E7E7E7;
    padding: 20px 15px;
  }
/* End Payment Section */
/* Item Form Section */
  .item-form-section {
    padding-top: 67px;
  }
  .item-form-section .left-container,
  .item-form-section .right-container {
    padding-top: 30px;
    min-height: calc(100vh - 67px);
  }
  .item-form-section .right-container {
    border-left: 1px solid #727272;
  }
  .item-form-section .custom-tabs .nav-tabs {
    border-top: 2px solid #E7E7E7;
    justify-content: center;
  }
  .item-form-section .preview-image-container {
    width: 85px;
    height: 85px;
    margin: 30px auto;
  }
  .item-form-section .category-select-container {
    padding: 15px 10px;
    border-style: solid;
    border-color: #727272;
    border-width: 1px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .category-form-container .list-category {
    margin-top: 30px;
  }
  .category-form-container .list-category label {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .category-form-container .list-category label .normal-text {
    flex: 1;
  }
  .category-form-container .list-category label .category-remove {
    align-self: stretch;
    border-left: 1px solid #E7E7E7;
    color: #E73838;
    width: 50px;
    text-align: center;
    /*padding-top: 15px;*/
    margin-left: 10px;

  }
  .category-form-container .list-category label .category-remove > * {
    cursor: pointer;
  }
  .category-form-container .list-category label .check-category {
    visibility: hidden;
  }
  .category-form-container .list-category input:checked + label .check-category {
    visibility: visible;
  }
/* End Item Form Section */
/* Transaction History Section */
  .trasaction-history-page-container .left-container,
  .trasaction-history-page-container .right-container{
    padding-right: 0;
    padding-left: 0;
  }
  .trasaction-history-page-container .left-container:after {
    content: "";
    position: absolute;
    top: -24px;
    right: 0;
    display: block;
    width: 1px;
    height: calc(100vh - 68px);
    background: #727272;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container {
    margin-left: -20px;
    max-height: calc(100vh - 68px - 60px - 15px);
    margin-top: 15px;
    overflow: auto;
  }

  .trasaction-history-page-container .left-container .trasaction-history-container .divider-date,
  .trasaction-history-page-container .left-container .trasaction-history-container .list-transaction {
    padding-left: 20px;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container .divider-date {
    background: #E7E7E7;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container .list-transaction {
    border-top: 1px solid #727272;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container .list-transaction.active {
    background: #D4D4D4;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container .divider-date + .list-transaction {
    border-top: none;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container .list-transaction .total-price {
    padding-right: 20px;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container .list-transaction .information div + div {
    margin-top: 5px;
  }
  .trasaction-history-page-container .left-container .trasaction-history-container .list-transaction .information img {
    width: 20px;
    height: auto;
  }

  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .head-section,
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .footer-section {
    padding: 0 15px;
    margin-right: -30px;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .body-section {
    border-color: #727272;
    border-style: solid;
    border-width: 1px 0;
    height: calc( 100vh - 91px - 150px - 96px - 10px - 5px );
    overflow: auto;
    margin-top: 10px;
    margin-right: -30px;
    margin-bottom: 5px;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .body-section .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: nowrap;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .body-section .list-item:not(:last-child) {

    border-bottom: 1px solid #727272;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .body-section .list-item > * {
    /*flex: 1;*/
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .body-section .list-item .item-name {
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .body-section .list-item .box-qty {
    color: #fff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .body-section .list-item .price {
    width: calc( 50% - 40px );
    text-align: right;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction .footer-section .lunas-section {
    display: none;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction.not-lunas .footer-section .lunas-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction.not-lunas .body-section {
    height: calc( 100vh - 91px - 150px - 96px - 10px - 5px - 44px - 5px );
  }
  .trasaction-history-page-container .right-container .detail-transaction-container .detail-transaction.not-lunas .head-section .print-transaction {
    visibility: hidden;
  }
/* End Transaction History Section */
/* Success Modal */
  .success-modal .modal-header {
    border-bottom: none;
    padding: 10px 15px;
  }
  .success-modal .modal-body .change-money {
    padding: 10px;
    border: 2px solid #727272;
    margin-top: 5px;
  }
  .success-modal .modal-footer {
    border-top: none;
    justify-content: unset;
    display: block;
    margin-bottom: 20px;
  }
/* End Success Modal */
/* Preview Image */
  .preview-image-container {
    border: 2px solid #727272;
    border-radius: 3px;
    /*background: url('../img/icon/ic_photo.png');*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preview-image-container label {
    width: inherit;
    height: inherit;
    margin: 0;
    cursor: inherit;
    /*opacity: 0;*/
    position: absolute;
    z-index: 2;
  }
  .preview-image-container label:hover {
    background-color: rgba(0,0,0,0.2);
    background-image: url('../img/icon/ic_photo-white.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .preview-image-container .preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: inherit;
  }
/* End Preview Image */
/* Custom Scrollbar */

  .custom-scrollbar::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
      border-radius: 4px;
      /*background-color: #e7e7e7;*/
  }

  .custom-scrollbar::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
      border-radius: 4px;
      /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
      background-color: #2DC84D;
  }

/* End Custom Scrollbar */
/* Override Bootstrap */

  .form-control,.select2-container--bootstrap .select2-selection--single {
    border: 2px solid #E7E7E7;
    border-width: 2px;
    font-size: 16px;
    padding: 13px 20px;
    height: 51px;
  }
  .form-control:focus {
    border: 2px solid #2DC84D;
    box-shadow: none;
  }
  .form-control::placeholder {
    /*color: #727272;*/
    color: #727272;
    font-size: 16px;
    font-weight: 400;
  }
  .form-control.single-digit {
    border-width: 0 0 2px 0;
    text-align: center;
    font-size: 34px;
  }
  .input-group.custom-icon .input-group-prepend .input-group-text {
    border: none;
    position: absolute;
    top: 2px;
    /*left: 2px;*/
    bottom: 2px;
    z-index: 4;
  }
  .input-group.custom-icon.left-icon .input-group-prepend .input-group-text {
    left: 2px;
  }
  .input-group.left-icon .form-control {
    padding-left: 50px;
  }
  .input-group.right-icon .input-group-prepend .input-group-text {
    right: 2px;
  }
  .input-group.right-icon .form-control {
    padding-right: 50px;
  }
  .input-group.search .form-control:focus {
    background: #F7F7FA;
    border: 2px solid #E7E7E7;
  }
/* End Override Bootstrap */
/* Override Select2 */
  .select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background: #2DC84D;
    color: #fff!important;
  }
  .select2.store + .select2-container--bootstrap .select2-selection--single {
    height: 67px;
    vertical-align: middle;
  }

  .store-option {
    line-height: 20px;
  }
  .store-option.selected {
    /*line-height: 20px;*/
    /*margin-top: -5px;*/
  }
/* End Override Select2 */
/* Custom Slick Slider */

  .slick-prev {
    left: 0;
    z-index: 5;
  }
  .slick-next {
    right: 0;
  }

  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: black;
    font-size: 50px;
  }
  .slick-slider {
    width: 100%;
  }
  .slick-slider label {
    width: 215px;
    height: 215px;
    border: 3px solid #727272;
    border-radius: 5px;
    padding: 30px 15px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
  }
  .slick-slider label img {
    display: inline-block;
  }

  .slick-slider .radio-slick:checked + label {
    border-color: #2DC84D;
  }

  .slick-slider.signup-slider label > * {
    margin: 5px 0;
  }

  .slick-slide {
    margin: 0 10px;
  }


/* End Custom Slick Slider */
/* Utilities */
  .tn-green{
    color: #2DC84D;
  }
  a.tn-green:hover,
  a.tn-green:focus,
  a.tn-green:active {
    color: #3CAF53;
    text-decoration: none;
  }
  .btn-tn {
    font-size: 16px;
    padding: 8px 16px; 
  }
  .btn-tn-green{
    background-color: #2DC84D;
    color: #fff;
  }
  .btn-tn-green:focus,
  .btn-tn-green:active,
  .btn-tn-green:hover {
    background-color: #3CAF53;
    box-shadow: none;
    border: ;
    color: #fff;
  }
  .btn-tn-ghost {
    background: #fff;
    color: #2DC84D;
    border: 2px solid #2DC84D;
  }
  .btn-tn-ghost:focus,
  .btn-tn-ghost:active,
  .btn-tn-ghost:hover {
    background-color: #3CAF53;
    box-shadow: none;
    border: ;
    color: #fff;
  }
  .btn-tn-nude,
  .btn-tn-red-nude {
    background: none;
    border: none;
  }
  .btn-tn-nude {
    color: #2DC84D;
  }
  .btn-tn-red-nude {
    color: #E73838;
  }
  .mt10px {
    margin-top: 10px;
  }
  .mb5px {
    margin-bottom: 5px;
  }
  .mb10px {
    margin-bottom: 10px;
  }
  .mb15px {
    margin-bottom: 15px;
  }
  .mb20px {
    margin-bottom: 20px;
  }
  .mb1rem {
    margin-bottom: 1rem;
  }
  .pl15px {
    padding-left: 15px;
  }
  .pt10px {
    padding-top: 10px;
  }
  .flex {
    display: flex;
  }
  .content-space-between {
    justify-content: space-between;
  }
  /* Font Size and Style */
    .display-bold-text {
      font-size: 24px;
    }
    .display-text {
      font-size: 20px;
    }
    .display-large-text,
    .display-large-bold-text {
      font-size: 34px;
    }
    .normal-text,
    .normal-bold-text {
      font-size: 16px;
    }
    .normal-bold-text,
    .display-bold-text,
    .display-large-bold-text,
    .bold {
      font-weight: 600;
    }
    .heading-text {
      font-size: 18px;
    }
    .subheading-text {
      font-size: 14px;
    }
    .line-through {
      text-decoration: line-through;
    }
  /* End Font Size and Style */

  /* Background & Color */
    .bg-white {
      background: #fff;
    }
    .bg-gray {
      background: #F7F7FA;
    }
    .bg-tn-green {
      background: #2DC84D;
    }
    .color-mediumgray {
      color: #727272;
    }
    .color-lightgray {
      color: #E7E7E7;
    }
    .color-tn-red {
      color: #E73838;
    }
  /* End Background & Color*/
  /* Override default input*/
    input[type=number] {
        -moz-appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    textarea {
      resize: none;
    }
  /* End Default Input */
/* End Utilities */


/* Media Small Device*/

@media (max-width: 576px) {
  .wrapper {
    /*background: #fff;*/
  }
  .wrapper-form {
    box-shadow: unset;
    margin-top: 0;
    min-height: 100vh;
  }
}

@media (max-height: 630px) {
  .panel-sidebar ul li:first-child {
    margin-top: 0;
  }
}