
            <div class="panel-header bg-white">
                <div class="header-left">
                    <i class="fas fa-bars color-mediumgray" id="sidebar-trigger"></i>
                    <img src="../../assets/img/favicon.png" alt="Terranova" class="logo-header">
                    <div class="total-sales">
                        <div class="subheading-text">
                            Total Penjualan Hari ini
                        </div>
                        <div class="normal-bold-text">
                            Rp. 350.000
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <div class="desc-user">
                        <div class="subheading-text">
                            {{ $ctrl.name }}
                        </div>
                        <div class="normal-bold-text">
                            {{ $ctrl.role }}
                        </div>
                    </div>
                    <div class="switcher-store">
                        <div class="subheading-text d-inline">
                            {{ $ctrl.company }}
                        </div>
                        <i class="fas fa-chevron-down color-lightgray"></i>
                    </div>
                </div>
            </div>